/* Header */

@media only screen and (min-width: 768px) {
  .header {
    background-image: url("/bed/header-back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 138px;
    color: white;
  }
}

/* Main */

.main {
  padding: 65px 0;
  text-align: center;
}

.primary_title {
  margin-bottom: 65px;
  font-size: 30px;
  font-weight: bold;
}

.secondary_title {
  margin-bottom: 15px;
  font-size: 15px;
}

.box_group {
  width: 238px;
  margin: 0 auto 67px;
}

@media only screen and (min-width: 768px) {
  .main {
    padding: 68px 0 102px;
  }
  .primary_title {
    margin-bottom: 65px;
  }
  .secondary_title {
    font-size: 18px;
  }
  .box_group {
    width: 100%;
  }
}

.box_inactive, .box_active {
  width: 105px;
  height: 105px;
  margin: 7px;
  border: 2px solid #d6d6d6;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #090446;
  background-color: white;
}

.box_inactive:hover, .box_inactive:focus, .box_active:hover, .box_active:focus {
  border-color: #090446;
  box-shadow: none !important;
  color: #090446 !important;
  background-color: white !important;
}

.box_active {
  border-color: #090446;
}

.btn_group {
  padding-top: 20px;
}
