/* Sidebar */

.sidebar {
  display: none;
}

.sidebar_menu, .sidebar_menu_active {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  font-size: 14px;
  font-weight: bold;
}

.sidebar_menu {
  color: grey;
  transition: 0.3s;
}

.sidebar_menu_active {
  color: #126660;
}

.sidebar_menu:hover, .sidebar_menu_active:hover {
  color: #126660;
}

.sidebar_text {
  margin-left: 20px;
}

@media only screen and (min-width: 1200px) {
  .sidebar {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: space-between;
    width: 240px;
    padding-top: 85px;
    padding-left: 48px;
    border-right: 1px solid #d3dbde;
  }
}

.search_main {
  flex-grow: 1;
}

/* Search Header */

.primary_title {
  font-size: 24px;
  font-weight: bold;
}

.primary_detail {
  margin-bottom: 24px;
  font-size: 14px;
  color: #888e8e;
}

.search_input {
  margin-top: 32px;
  margin-bottom: 24px;
}

.prepend_content {
  border-right: 0;
  background-color: #f6fafa;
}

.search_icon {
  width: 16px;
  height: auto;
}

.search_box {
  height: 44px;
  padding-left: 0;
  border: 1px solid #c9d6d5;
  border-radius: 4px;
  border-left: 0;
  font-size: 14px;
}

.search_box:focus {
  border-color: #c9d6d5;
  box-shadow: none;
}

.search_box::placeholder {
  color: #4f8581;
}

.result_text, .result_text_1 {
  font-size: 14px;
  font-weight: 600;
  color: #89a3a3;
}

.result_text_1 {
  margin-bottom: 20px;
}

/* Search Content */

.search_content {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

@media only screen and (min-width: 992px) {
  .search_content {
    display: flex;
    flex-direction: row;
  }
}

/* Search Results */

.search_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
  padding: 16px;
  border: 1px solid #e1e6e6;
  border-radius: 4px;
}

.lead_name {
  margin-right: 10px;
  font-size: 16px;
  font-weight: 600;
}

.match_text {
  margin-left: 8px;
  font-size: 14px;
  font-weight: 600;
  color: #086627;
}

.credit_title {
  font-size: 14px;
  line-height: 1.57;
  color: #888e8e;
}

.credit_detail {
  margin-left: 8px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.57;
}

.chevron_right {
  width: 10px;
  height: auto;
  margin-left: 26px;
  color: #888e8e;
}

@media only screen and (min-width: 576px) {
  .search_item {
    padding: 20px;
  }
}

@media only screen and (min-width: 992px) {
  .search_results {
    flex-grow: 1;
    margin-right: 48px;
  }
}

/* Filter Section */

.filter_panel {
  flex-shrink: 0;
  margin-bottom: 20px;
  padding: 24px 24px 28px;
  border-radius: 4px;
  background-color: #f7fafa;
}

.filter_title {
  font-size: 20px;
  font-weight: bold;
}

.filter_section {
  margin-top: 28px;
}

.filter_subtitle {
  font-size: 16px;
  font-weight: 600;
}

.filter_value {
  font-size: 16px;
  font-weight: 600;
  color: #126660;
}

.filter_boxes {
  display: flex;
  margin-top: 20px;
  margin-left: -6px;
  margin-right: -6px;
}

.box_active, .box_inactive {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  margin: 0 6px;
  border: 1px solid #40918b;
  border-radius: 2px;
  font-size: 16px;
  font-weight: bold;
  transition: 0.3s;
  cursor: pointer;
}

.box_active, .box_inactive:hover {
  color: white;
  background-color: #40918b;
}

@media only screen and (min-width: 576px) {
  .box_active, .box_inactive {
    width: 64px;
  }
}

@media only screen and (min-width: 992px) {
  .filter_panel {
    width: 408px;
    margin-bottom: 0;
  }
}

/* ---------------------------- Lead #2 Page ---------------------------- */

.prev_link {
  font-size: 14px;
  font-weight: 600;
  color: #888e8e;
  transition: 0.3s;
}

.prev_link:hover {
  color: #126660;
}

.chevron_left {
  position: relative;
  top: -1px;
  width: 10px;
  margin-right: 10px;
}

.preview_section {
  padding: 50px 15px;
}

.preview_header {
  padding-bottom: 24px;
  border-bottom: 1px solid #e1e8eb;
}

.lead_name {
  font-size: 20px;
  font-weight: 600;
}

.lead_date_1 {
  font-size: 14px;
  color: #888e8e;
}

.preview_icon {
  margin-top: 15px;
  margin-right: 10px;
}

.preview_title {
  font-size: 14px;
  line-height: 1.57;
  color: #888e8e;
}

.preview_detail {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.57;
}

.preview_section_title {
  margin-top: 24px;
  margin-bottom: 16px;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 2px;
  color: #89a3a3;
}

.preview_item {
  margin-bottom: 16px;
}

.preview_rating_detail {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.38;
}

.preview_stars, .preview_score {
  margin-left: 15px;
}

.preview_star {
  margin: 2px;
}

.preview_info_detail {
  font-size: 16px;
  line-height: 1.38;
}

.preview_about_detail {
  font-size: 14px;
  line-height: 1.57;
}

.flat_card {
  display: flex;
  width: 100%;
  height: auto;
  padding: 12px;
  border: solid 1.2px #56918d;
  border-radius: 4px;
}

.flat_address {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.38;
}

.flat_price {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.57;
  color: #606d6d;
}

.flat_match {
  font-size: 13px;
  font-weight: 600;
  line-height: 1.69;
  color: #086627;
}

@media only screen and (min-width: 576px) {
  .preview_summary_item {
    margin-top: 19px;
  }
}

@media only screen and (min-width: 992px) {
  .preview_section {
    flex-grow: 1;
    margin-right: 48px;
    padding: 0;
  }
  .preview_rating_detail {
    font-size: 16px;
  }
}