.container {
  padding: 20px;
  text-align: center;
  background-color: white;
}

.title {
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: bold;
}

.copyright {
  font-size: 12px;
  line-height: 20px;
  font-weight: bold;
}