/* Header */
@media only screen and (min-width: 768px) {
  .header {
    background-image: url("/bed/header-back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 138px;
    color: white;
  }
}

/* Main */
.main {
  padding: 40px 0 50px;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .main {
    padding: 68px 0 150px;
  }
}

.form {
  position: relative;
  max-width: 950px;
  margin: 60px auto 69px;
}

.single_btn,
.option_btn,
.twin_btn,
.double_btn {
  height: 50px;
  margin: 10px 0 11px;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 500;
  text-align: left;
  color: #090446;
  background-color: white;
}

.single_btn,
.option_btn {
  width: 100%;
  border: 2px solid #d6d6d6;
}

.single_btn:hover,
.single_btn:active,
.single_btn:focus,
.option_btn:hover,
.option_btn:active,
.option_btn:focus,
.double_btn:hover,
.double_btn:active,
.double_btn:focus {
  border-color: #090446 !important;
  box-shadow: none !important;
  color: #090446 !important;
  background-color: white !important;
}

.btn_group {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.option_btn {
  width: 100%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.twin_btn {
  position: relative;
  right: 0;
  width: 100%;
  margin-top: -11px;
  border: 2px solid #090446;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.left_btn,
.right_btn {
  width: 50%;
  border: none;
  font-size: 15px;
  font-weight: 500;
  color: #090446;
  background-color: white;
}

.left_btn {
  border-right: 2px solid #090446;
  border-radius: 8px;
  border-top-left-radius: 0;
}

.right_btn {
  border-left: 1px solid #090446;
  border-radius: 8px;
  border-top-right-radius: 0;
}

.left_btn:hover,
.left_btn:active,
.left_btn:focus,
.right_btn:hover,
.right_btn:active,
.right_btn:focus {
  border-color: #090446 !important;
  box-shadow: none !important;
  color: white !important;
  background-color: #090446 !important;
}

.double_btn {
  width: 100%;
  border: 2px solid #090446;
}

.wide_btn,
.narrow_btn {
  border: none;
  font-size: 15px;
  font-weight: 500;
}

.wide_btn {
  width: 60%;
  border-right: 2px solid #090446;
  border-radius: 10px;
  text-align: left;
  color: #090446;
  background-color: white;
}

.wide_btn:hover,
.wide_btn:active,
.wide_btn:focus {
  border-right: 2px solid #090446 !important;
  box-shadow: none !important;
  color: #090446 !important;
  background-color: white !important;
}

.narrow_btn {
  position: relative;
  border-left: 1px solid #090446;
  border-radius: 8px;
  color: white;
  background-color: #090446;
}

.narrow_btn:hover,
.narrow_btn:active,
.narrow_btn:focus {
  border-left: 1px solid #090446 !important;
  box-shadow: none !important;
  color: #090446 !important;
  background-color: white !important;
}

.check_icon {
  position: absolute;
  z-index: 1;
  top: 13px;
  left: -11px;
  width: 20px;
  padding: 2px;
  border: 2px solid #090446;
  border-radius: 50%;
  color: #090446;
  background-color: white;
}

.next_btn,
.skip_btn {
  width: 80%;
  margin: 10px;
}

@media only screen and (min-width: 992px) {

  .single_btn,
  .option_btn,
  .double_btn {
    width: 380px;
  }

  .option_btn {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .btn_group {
    flex-direction: row;
    width: 380px;
  }

  .wide_btn {
    width: 70%;
  }

  .twin_btn {
    position: absolute;
    width: 262px;
    margin-top: 12px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .left_btn {
    border-top-left-radius: 8px;
  }

  .right_btn {
    border-top-right-radius: 8px;
  }

  .next_btn,
  .skip_btn {
    width: 150px;
  }
}