/* Header */
@media only screen and (min-width: 768px) {
  .header {
    background-image: url("/bed/header-back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 138px;
    color: white;
  }
}

/* Main */
.main {
  padding: 40px 0 50px;
  text-align: center;
}

.slider_container {
  width: 100%;
  margin: auto;
}

.budget_slider {
  margin: 30px 0;
}

.time_slider {
  margin-bottom: 40px;
}

.next_btn,
.back_btn {
  width: 80%;
  margin: 10px;
}

@media only screen and (min-width: 768px) {
  .main {
    padding: 68px 0 132px;
  }

  .slider_container {
    max-width: 600px;
  }

  .budget_slider {
    margin: 43px 0 77px;
  }

  .time_slider {
    margin-bottom: 110px;
  }

  .next_btn,
  .back_btn {
    width: 150px;
  }
}