.main {
  padding: 50px 0;
  text-align: center;
}

.primary_title {
  font-size: 30px;
  font-weight: bold;
}

.secondary_title {
  margin: 20px 0 40px;
  font-size: 18px;
}

@media only screen and (min-width: 768px) {
  .main {
    padding: 82px 0 256px;
  }

  .primary_title {
    font-size: 38px;
  }

  .secondary_title {
    margin: 21px 0 52px;
  }
}

/* Property Tabs */
.form {
  margin-bottom: 19px;
}

.property_tab {
  padding: 23px 22px 30px;
  border: 1px solid #dee2e6;
  border-top: none;
  border-bottom-left-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
}

.input_box {
  height: 50px;
  border: 2px solid #e8e8e8;
  border-radius: 5px;
  font-size: 13px;
  color: grey;
}

.search_btn,
.continue_btn {
  min-width: 125px !important;
}

.continue_btn {
  width: 100%;
  margin: auto;
}

.property_box {
  max-width: 408px;
  padding: 8px 14px 17px;
  border: 2px solid #e8e8e8;
  border-radius: 5px;
}

.property_subtitle {
  font-size: 15px;
  margin-bottom: 10px;
  font-weight: bold;
  text-align: left;
  color: #092748;
}

.property_address {
  font-size: 14px;
  text-align: left;
  color: #092748;
}

.property_feature {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 13px;
  text-align: left;
}

.feature_icon {
  margin-right: 8px;
}

.splitbar {
  margin: 0 10px;
  font-weight: bold;
  color: #d8d8d8;
}

.plus_btn {
  width: 30px;
  height: 30px;
  margin-top: 4px;
  border-radius: 50%;
  font-size: 40px;
  font-weight: 500;
  line-height: 21px;
  background-color: white;
  box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.plus_btn:hover {
  box-shadow: 0 8px 16px 4px rgba(0, 0, 0, 0.3);
}

@media only screen and (min-width: 768px) {
  .search_btn {
    min-width: 210px !important;
  }

  .splitbar {
    margin: 0 15px;
  }
}

/* Property Cards */
.property_row {
  margin-top: 55px;
}

.property_card_wrapper {
  margin-bottom: 56px;
  padding-right: 15px;
}

@media only screen and (min-width: 768px) {
  .property_row {
    margin: 11px 40px 75px -15px;
  }

  .property_card_wrapper {
    margin-bottom: 54px;
    padding-right: 35px;
  }

  .continue_btn {
    width: 224px;
  }
}