/* Sidebar */

.sidebar {
  display: none;
}

.sidebar_menu, .sidebar_menu_active {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  font-size: 14px;
  font-weight: bold;
}

.sidebar_menu {
  color: grey;
  transition: 0.3s;
}

.sidebar_menu_active {
  color: #126660;
}

.sidebar_menu:hover, .sidebar_menu_active:hover {
  color: #126660;
}

.sidebar_text {
  margin-left: 20px;
}

@media only screen and (min-width: 992px) {
  .sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 240px;
    padding-top: 85px;
    padding-left: 48px;
    border-right: 1px solid #d3dbde;
  }
}

/* Main */

.main {
  margin: auto;
  padding: 20px 0;
}

.primary_title {
  font-size: 24px;
  font-weight: bold;
}

.primary_detail {
  margin-bottom: 24px;
  font-size: 14px;
  color: #888e8e;
}

@media only screen and (min-width: 768px) {
  .main {
    padding: 32px 0 70px;
  }
  .primary_title {
    font-size: 28px;
  }
  .primary_detail {
    margin-bottom: 48px;
  }
}

/* Property Group */

.group_title {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0;
}

.add_link {
  display: flex;
  align-items: center;
  margin-left: 8px;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.2px;
  color: #126660;
  transition: 0.3s;
}

.add_link:hover {
  color: grey;
}

.show_more {
  display: block;
  margin: 14px 0 30px;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.5px;
  text-align: center;
  text-decoration: underline;
  color: #126660;
  transition: 0.3s;
  cursor: pointer;
}

.show_more:hover {
  color: grey;
  text-decoration: underline;
}

@media only screen and (min-width: 768px) {
  .group_title {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: normal;
    text-transform: capitalize;
  }
  .add_link {
    font-size: 14px;
    letter-spacing: 0.5px;
  }
}

/* Offer Card */

.offer_card_wrapper {
  margin-bottom: 24px;
}